.Myglyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Myglyphicon-triangle-bottom:before {
  content: "\e252";
}
.Myglyphicon-triangle-top:before {
  content: "\e253";
}

th{
    cursor:pointer;
}

body{
    font-family: Arial;
}

div{
    display: block;
    font-size: xx-large;
    height: 350px;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    overflow-y: scroll;
}
